.App {
  text-align: center;
  padding: 0;
  top: 0;
  margin: auto;
  max-width: 40rem;
  min-height: 500px;
  height: 100vh;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  box-shadow: 0 0 0.5rem #f2f2f2;
  background-color: #fed9e0
}

